<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Document</title>


</head>

<body>
    <header class="bg-orange-500 p-7">
        <div class="flex justify-between pl-10 pr-10">
            <div class="text-2xl font-bold">My Todo !</div>
            <div class="flex gap-10">
                <div class="white-200 font-bold">SIGN IN </div>
                <div class="font-bold">REGISTER</div>
            </div>
        </div>

    </header>

    <main>
        <div>
            <div class="font-bold text-2xl justify-center items-center flex mt-10">GOOD MORNING</div>
            <div class="font-bold justify-center items-center flex mt-6">WELCOME TO YOUR PERSONAL TO-DO ORGANIZE YOUR
                TASKS, STAY PRODUCTIVE, AND ACCOMPLISH YOUR GOALS.</div>
        </div>
        <hr class="mt-5">

        <div>
            <div class="font-bold text-2xl flex justify-center items-center mt-5">TODAY</div>
            <div class="flex  items-center justify-center gap-7">
                <form class="flex items-center justify-center ">
                    <input class="flex justify-center items-center  mt-10 p-2 w-180 border-1 solid black border-[red]" type="text"
                        placeholder="ADD NEW TASK">
                </form>
                <div class="font-bold text-2xl mt-9">
                    +
                </div>

            </div>
        </div>
        <div class="flex  items-center justify-center gap-7 mt-10">
            <button class="bg-orange-300 rounded-r-sm rounded-l-sm w-40 ">SHOW COMPLETED</button>
            <button class="bg-orange-300 rounded-r-sm rounded-l-sm w-36">SHOW PENDING</button>
            <button class="bg-orange-300 rounded-r-sm rounded-l-sm w-30">CLEAR ALL</button>
        </div>
    </main>

</body>

</html>